<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseURL</key>
	<string>https://my-operator.jellyswitch.com</string>
	<key>HasSidebarIcon</key>
	<true/>
	<key>SidebarTitle</key>
	<string>My Operator</string>
</dict>
</plist>
